body {
  height: 300px;
  width: 300px;
  background-color: #91ceff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-radius: 50%;
}

h1,
p {
  font-family: "Staatliches", cursive;
}

#check_answer {
  background-color: #91ceff;
}

#answer {
  font-style: italic;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.hint {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: medium;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: azure;
  background-color: black;
}
